LINKEDIN_COOKIE=
LINKEDIN_USER_AGENT=
LINKEDIN_LI_AT=
LINKEDIN_JSESSIONID="ajax:1234567890123456789"
LINKEDIN_EMAIL=
LINKEDIN_PASSWORD=
MONGODB_URI=
MONGODB_DB=tross_linkedin
CACHE_TTL_SECONDS=86400
API_KEY=
RATE_LIMIT_PER_MINUTE=20
